

.overview-wrapper {
    padding: 20px;

}
.overview {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.ledger-section {
    display: flex;
    justify-content: flex-end;
}

.ledger-section > div {
    padding-left: 20px;
}

.ledger-section-select {
    min-width: 100px;
}

.sl-padding {
    padding: 15px;
}

.sample-autocomplete {
    position: relative;
}

.sample-autocomplete-select {
    position: absolute;
    width: 100%;
}
