

.overview-wrapper {
    padding: 20px;

}
.overview {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.overview-header {
    padding: 15px;
}

.ledger-section {
    display: flex;
    justify-content: flex-end;
}

.ledger-section > div {
    padding-left: 20px;
}

.ledger-section-select {
    min-width: 100px;
}